.bg-navy{
    background-color:#181d23;
}
.bg-black{
  background-color:#000000;
}

.bg-video-square{
  height:55vh;
  width:55vh;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0;
	position: absolute;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	transform: translateY(0) translateX(-50%);
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	padding: 40px 40px; /* 120px 140px */
	color: #000;
	-webkit-box-shadow: 0 1.5px 9px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1.5px 9px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1.5px 9px 0 rgba(0,0,0,0.2);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.bottom_el{
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -20%);
  margin: 0 auto;
}
.fix-dosis-l-b{
    font:900 30px/30px Dosis, Arial;
    margin-bottom: 50px;
}
.fix-dosis-m-b{
    font:900 20px/20px Dosis, Arial;
    margin-bottom: 50px;
}
.fix-dosis-m{
    font:400 18px/18px Dosis, Arial;
    margin-bottom: 50px;
}
.fix-dosis-s{
    font:400 13px/13px Dosis, Arial;
    margin-bottom: 50px;
}
.fix-montserrat-l-b{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:900;
    font-size:30px;
    margin-bottom: 50px;
}
.fix-montserrat-m-b{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:600;
    font-size:20px;
    margin-bottom: 50px;
}
.fix-montserrat-m-sb{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:900;
    font-size:20px;
    margin-bottom: 50px;
}
.fix-montserrat-sm-b{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:600;
    font-size:16px;
    margin-bottom: 50px;
}
.fix-montserrat-s-b{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:600;
    font-size:13px;
    margin-bottom: 50px;
}
.fix-montserrat-s-b-extra{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:800;
    font-size:13px;
    margin-bottom: 50px;
}
.fix-montserrat-xs{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size:11px;
    margin-bottom: 50px;
}
.fix-montserrat-xs-b{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:700;
    font-size:11px;
    margin-bottom: 50px;
}
.fix-montserrat-sxs{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size:9px;
    margin-bottom: 50px;
}
.fix-montserrat-sxs-b{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:700;
    font-size:9px;
    margin-bottom: 50px;
}
.fix-montserrat-l{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:300;
    font-size:30px;
    margin-bottom: 50px;
}
.fix-montserrat-m{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:400;
    font-size:18px;
    margin-bottom: 50px;
}
.fix-montserrat-s{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-weight:300;
    font-size:13px;
    margin-bottom: 50px;
}
.ft-dark{
    color:rgb(41, 41, 41) !important;
}
.ft-m{
    font-size: 16px !important;
}
.border-wh{
    border:3px dashed white;
}
.box-shadow{
    box-shadow: 2px 2px 4px #969696;
}
.bio-card-m-top,.bio-card-m,.bio-card-f-top,.bio-card-f{
    padding:15px 2px;
    box-shadow: 2px 2px 2px #969696;
    max-width:200px;
}
.bio-card-m-top{
    height:100px;
    background-color:white;
    border-radius: 15px 15px 0px 0px;
}
.bio-card-m{
    height:160px;
    background-color:white;
    border-radius: 0px 0px 15px 15px;
}
.bio-card-f-top{
    height:100px;
    background-color:white;
    border-radius: 15px 15px 0px 0px;
}
.bio-card-f{
    height:160px;
    background-color:white;
    border-radius: 0px 0px 15px 15px;
}
.img-fix-h{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.txt_block {
    padding: 40px 15px 60px;
}
.no-margin-top{
    margin-top: -30px;
}
.no-margin-top-2{
    margin-top: -40px;
}
.stick-bottom{
    position:absolute;
    bottom:0;
    width:100%;
}
.wrap-preview{
    position: absolute;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    border: 0px
}
.wrap-preview-mobile{
    min-width: 375px;
    max-width: 768px;
    left: 50%;
    transform: translateX(-50%);
}
.wrap-vertical-img-fix{
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
}
.inner-vertical-img-fix{
    display: inline-block; 
    vertical-align:middle;
    margin: 0 5px;
}

@media (max-width:768px){
    .img-fix-h{
        max-height:30vh;
    }
}
@media (min-width:769px){
    .img-fix-h{
        max-height:50vh;
    }
}