.tbody-white{
    background-color: white;
    color: rgb(41, 41, 41);
}

.n-font{
    font-family:  Dosis, Arial !important;
}

.b-box-white{
    padding: 5px;
    background-color: white;
    color: rgb(41, 41, 41) !important;
}

.b-box-pink{
    padding: 5px;
    background-color: #f3bad6;
    color: rgb(41, 41, 41) !important;
}

.img-wrapper {
    position: relative;
    overflow-x:auto;
    overflow-y:auto;
}

@media (min-width: 200px) { 
.img-wrapper {
    height:540px;
}}
@media (min-width: 300px) { 
.img-wrapper {
    height:640px;
}}
@media (min-width: 360px) { 
.img-wrapper {
    height:760px;
}}
@media (min-width: 576px) { 
.img-wrapper {
    height:580px;
}}
@media (min-width: 768px) {
.img-wrapper {
    height:760px;
}}
@media (min-width: 992px) {
.img-wrapper {
    height:480px;
}}
@media (min-width: 1024px) {
.img-wrapper {
    height:480px;
}}
@media (min-width: 1200px) {
.img-wrapper {
    height:590px;
}}

.img-wrapper > img {
    position: relative;
}

.lower {
    text-transform: lowercase;
 }
 
red{
    color: red;
}